.container{
    padding: 1em;
    max-width: 1000px;
    margin: 0 auto;
}

h1{
    text-align: center;
}

.cards-container{
    display: flex;
    width: 100%;
    padding-top: 2em;

}

.cards-image{
    width: 50%;
    padding: 1em;
}
.cards-form{
    width: 50%;
    padding: 1em;
}
form .form-group{
    margin-bottom: 1em;
}

form label{
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

form input[type="text"]{
    width: 100%;
    padding: 0.5em 0.3em;
    margin-bottom: 0.5em;
    font-size: 1em;
}

.card-span{
    background-color: #EEE;
    flex-grow: 1;
    padding: 0.4em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.2em;
    cursor: pointer;
}



